<div class="container">
    <header> <img src="../../../assets/imagens/logo_topo.png" style="height: 400px" style="width: 150px"></header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <nav>
    <ul>
      <li routerLinkActive="ativo" >
          <a routerLink="tela-inicial">Home</a>
      </li>
      <li routerLinkActive="ativo">
          <a routerLink="cadastro-produto">Produto</a>
      </li>
      <li routerLinkActive="ativo">
          <a routerLink="fornecedor">Fornecedor</a>
      </li>
      <li routerLinkActive="ativo">
          <a routerLink="farmaceutico">Farmaceutico</a>
      </li>
      <li routerLinkActive="ativo">
          <a routerLink="cliente">Cliente</a>
      </li>
    </ul>
  </nav>
</div>

