<form  [formGroup]="formulario">
  <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
          <mat-form-field appearance="outline">
              <mat-label>Codigo de Barras</mat-label>
              <input type="text" matInput formControlName="codigoBarras">


              <mat-error *ngIf="formulario.get('codigoBarras').hasError('required')">
                Campo Obrigatório
              </mat-error>

            </mat-form-field>
      </div>

      <div class="mdl-cell mdl-cell--6-col">
          <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input type="text" matInput formControlName="nome">


              <mat-error *ngIf="formulario.get('nome').hasError('required')">
                Campo Obrigatório
              </mat-error>

            </mat-form-field>
      </div>

      <div class="mdl-cell mdl-cell--6-col">
          <mat-form-field appearance="outline">
              <mat-label>Preço</mat-label>
              <input type="text" matInput formControlName="preco">

              <mat-error *ngIf="formulario.get('preco').hasError('required')">
                  Campo Obrigatório
                </mat-error>
          </mat-form-field>

      </div>

      <div class="mdl-cell mdl-cell--6-col">
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            placeholder="Fornecedor"
            aria-label="Number"
            matInput
            [matAutocomplete]="auto"
            formControlName="fornecedor">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="formatter">
            <mat-option *ngFor="let fornecedor of fornecedoresFiltrados | async" [value]="fornecedor">
              {{fornecedor.nome}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="mdl-cell mdl-cell--6-col">
        <button mat-raised-button color="warn" (click)="onSubmit()">Enviar Cadastro</button>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
        <button *ngIf="this.formulario.value.id"  mat-raised-button color="warn" routerLink="../../lista">Voltar</button>
        <button *ngIf="!this.formulario.value.id"  mat-raised-button color="warn" routerLink="../lista">Voltar</button>
      </div>

  </div>

</form>
